.decorative-box {
  width: 120vw;
  background: #a8dadc;
  flex-shrink: 0;
  height: 34vh;
  position: absolute !important;
  top: 0;
  z-index: -1;
}

.decorative-ellipse {
  width: 140vw;
  background: #a8dadc;
  flex-shrink: 0;
  height: 49vh;
  position: absolute !important;
  top: 18vh;
  z-index: -1;
  border-radius: 50%;
  left: -20vw;
}

.decorative-moai {
  right: 10px;
  bottom: -40px;
  position: absolute !important;
  z-index: -1;
}

.disclaimer {
  font-family: "Inter";
  font-size: 0.8em;
  font-style: normal;
  font-weight: 400;
  color: #1d3556;
  text-align: center;
  position: absolute !important;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: underline;
  cursor: pointer;
}

.decorative-book{
  position: absolute !important;
  font-size: 0.1em !important;
  bottom: 40%;
  right: 0;
  z-index: -1;
}
