@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lora:wght@500&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@for $i from 1 through 100 {
  w-#{$i} {
    width: $i * 1% !important;
  }
  h-#{$i} {
    height: $i * 1% !important;
  }
  m-#{$i} {
    margin: $i * 0.25em !important;
  }
  p-#{$i} {
    padding: $i * 0.25em !important;
  }
}

body {
  background-color: #f8f9fa !important;
  height: 100vh !important;
  margin: 0 !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

button.p-button {
  background-color: #1d3556 !important;
  border: none !important;
}

h1 {
  color: #1d3556;
}
