<div
  class="container w-100 h-100"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <span fxLayout="column" fxLayoutAlign="space-between center">
    <h1>Renuncia de responsabilidad</h1>
    <p>
      Los contenidos y respuestas generados a través de la API de OpenAI
      presentados en esta aplicación no reflejan necesariamente las opiniones o
      posturas de los desarrolladores o administradores de la aplicación. No nos
      hacemos responsables de las interpretaciones o conclusiones que se puedan
      derivar de los mensajes emitidos por la API de OpenAI.
    </p>
    <p>
      Esta herramienta se ofrece "tal cual" y se utiliza bajo la responsabilidad
      del usuario.
      <b
        >No asumimos ninguna postura política ni emitimos juicios de valor sobre
        los temas consultados.</b
      >
      La aplicación es meramente un intermediario para facilitar el acceso a
      información procesada por la inteligencia artificial de OpenAI y no
      garantiza la precisión o validez legal de dicha información.
    </p>
    <p>
      El usuario debe considerar los mensajes generados como un punto de
      referencia inicial y se recomienda contrastar la información con fuentes
      oficiales o asesoramiento profesional para cualquier propósito crítico o
      de toma de decisiones.
    </p>
    <p>
      El usuario reconoce que el uso de esta aplicación es de su propia elección
      y entiende que no somos responsables por posibles inconvenientes o
      perjuicios, ya sean directos o indirectos, que puedan surgir a raíz de su
      utilización. Nos esforzamos por ofrecer un servicio confiable, pero
      recordamos a nuestros usuarios que siempre deben usar la aplicación con
      criterio propio.
    </p>
  </span>
</div>
